<h1>Articoli Disponibili</h1>

<table id="articoli" border="1">
    <caption>Alimentari</caption> <!-- Titolo tabella -->
    <thead>
        <tr>
            <th>CodArt</th>
            <th>Descrizione</th>
            <th>Um</th>
            <th>Pezzi</th>
            <th>Peso(KG/LT)</th>
            <th>Prezzo</th>
            <th>Attivo</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngfor="let articolo of articoli"> <!-- istruzione Angular che è praticamente un for each. Questa è la parte non fissa della tabella (dinamica).
        ngfor per ogni elemento in questo Array lui assegna ogni elemento, ogni ciclo a questa variabile articolo -->
            <td>{{articolo.codart}}</td>
            <td>{{articolo.descrizione}}</td>
            <td>{{articolo.um</td>
            <td>{{articolo.pzcart}}</td>
            <td>{{articolo.peso}}</td>
            <td>{{articolo.prezzo | currency : 'EUR'}}</td> <!-- con il pipe si modifica la formattazione di una valuta -->
            <td>{{articolo.active}}</td>
            <td>{{articolo.data | date : 'dd-MM-YYYY'}}</td> <!-- con il pipe si modifica la formattazione di una data-->
        </tr>
    </tbody>
</table>
