<div class="container">
    <!--<div class="successful-login" *ngIf="autenticatoVictoryImage">
    <h1>CONGRATULATIONS</h1>
    <h2>Benvenuto nel nostro Team</h2>
    <div><img src="./assets/img/victory.svg" class="victory-login-image" alt="Victory"></div>
    </div> -->
    <!-- TEXT -->
    <section class="text-section">
        <h1>congratulations {{name}} {{surname}}!</h1>

        <h2>Scopri nella card cosa hai vinto!</h2>
    </section>
    <!-- END TEXT -->

    <img src="./assets/img/winning.svg" class="winning-image" alt="winning animation">
    <!-- <img src="./assets/img/victory.svg" class="victory-image" alt="winning animation"> -->

    <!-- CARDS -->
    <div class="cards">
        <ul>
            <!-- <li>
                <h1>3</h1>
                <span>Nostro regalo per te</span>
                <a href="#"><span>Clique aqui</span></a>
            </li> -->
            <!-- <li>
                <h1>2</h1>
                <span>Nostro regalo per te</span>
                <a href="#"><span>Clique aqui</span></a>
            </li> -->
            <li>
                <h1>Sei Maggiorenne</h1>
                <span>Nostro regalo per te</span>
                <a routerLink="/articoli">Click here</a> <!-- routerLink a differenza di href si usa per trovare un componente specifico del progetto coerentemente alla logia SPA -->
            </li>
        </ul>
    </div>
    <!-- END CARDS -->

    <div class="sobre">
            <div class="extras"></div>
    </div>>

</div>

